/* Nuances pour les couleurs principales*/
$middle-grey: #f6f6f6;
$grey: #e2e3e5;
$light-grey: lighten($grey, 6%);
/* Couleurs principales */
$purpleCG: #9356dc;
$pinkCG: #ff79da;
$vertCG: #99e2d0;
$footer-color: #353535;
/* Mixin Font */
@mixin font-title {}
